@font-face {
  font-family: "Mom's Typewriter";
  src: url("../assets/fonts/moms_typewriter.ttf");
}

@font-face {
  font-family: "Le Marshall";
  src: url("../assets/fonts/le_marshall.otf");
}

:root {
  --headerSize: 92px;
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: arial;
}

.topbar {
  font-family: "Mom's Typewriter";
  text-shadow: 0 0 5px #000000;
  color: #ffffff;
  pointer-events: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 14px 0 0 14px;
  width: calc(100% - 14px);
  height: var(--headerSize);
  transition: background-color 500ms;

  h1 span {
    vertical-align: 18px;
  }

  &.background {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);

    h1 {
      pointer-events: all;
    }
  }

  &.nobackground {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);

    h1 {
      pointer-events: none;
    }
  }

  h1 {
    pointer-events: none;
    margin: 0;
    font-weight: normal;
    user-select: none;
  }
}

header {
  position: relative;
  background-image: url("../assets/img/the_last_night_cover_full.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;

  @media (max-width: 1060px) {
    background-attachment: initial;
    background-image: url("../assets/img/the_last_night_cover_mobile.jpg");
    background-size: cover;
    background-position: center;
  }

  .scrollBtnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 14px;

    .scrollBtn {
      cursor: pointer;
      border-radius: 100%;
      border: 2px solid #ffffff;
      width: 42.5px;
      height: 42.5px;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transition: opacity 500ms;

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

main {
  width: 100%;
  min-height: calc(100vh - (var(--headerSize) + 51px));
  padding-top: calc(var(--headerSize) + 51px);
  text-align: center;
  margin-bottom: 24px;

  section {
    margin: 106px 14px 0 14px;

    h2 {
      margin: 0 0 18.75px 0;
    }

    p {
      margin: 0;
      display: inline-block;
      max-width: 1600px;
    }

    iframe {
      border: none;
      border-radius: 10px;

      &#youtubeembed,
      &#youtubelatestembed {
        @media (max-width: 882px) {
          width: calc(100vw - 56px);
          height: calc(calc(100vw - 56px) / 1.777777777777778);
        }
      }

      &#spotifyembed {
        @media (max-width: 628px) {
          width: 100%;
        }
      }
    }

    &#socials {
      .social {
        font-size: 45px;
        color: #000000;
        margin: 0 4px;
        filter: invert(1);
      }
    }
  }
}

.lemarshall {
  font-family: "Le Marshall";
  font-size: 2.3rem;
}
