@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@font-face {
  font-family: "Mom's Typewriter";
  src: url("../assets/fonts/moms_typewriter.ttf");
}
@font-face {
  font-family: "Le Marshall";
  src: url("../assets/fonts/le_marshall.otf");
}
:root {
  --headerSize: 60px;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "M PLUS Rounded 1c", arial;
}

.topbar {
  font-family: "Mom's Typewriter";
  text-shadow: 0 0 8px #000000;
  color: #ffffff;
  pointer-events: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px 0 0 14px;
  width: calc(100% - 14px);
  height: var(--headerSize);
  transition: background-color 500ms;
}
.topbar::after {
  display: block;
  height: 20px;
  width: 100vw;
  content: "";
  position: relative;
  right: 14px;
  top: -3.5px;
  opacity: 0;
  transition: opacity 500ms;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
.topbar h1 span {
  vertical-align: 18px;
}
.topbar.background {
  pointer-events: all;
  background-color: rgba(255, 255, 255, 0.5);
}
.topbar.background::after {
  opacity: 1;
}
.topbar.background h1 {
  pointer-events: all;
}
.topbar.nobackground {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}
.topbar.nobackground h1 {
  pointer-events: none;
}
.topbar h1 {
  pointer-events: none;
  margin: 0;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  position: relative;
  background-image: url("../assets/img/superficial_cover_full.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
@media (max-width: 850px) {
  header {
    background-attachment: initial;
    background-image: url("../assets/img/superficial_cover_mobile.jpg");
    background-size: cover;
    background-position: center center;
  }
}
header .scrollBtnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 1vh;
}
header .scrollBtnContainer .scrollBtn {
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #000000;
  color: #000000;
  height: 4vh;
  aspect-ratio: 1;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 500ms;
}
header .scrollBtnContainer .scrollBtn.hidden {
  opacity: 0;
  pointer-events: none;
}

main {
  width: 100%;
  min-height: calc(100vh - (var(--headerSize) + 51px));
  padding-top: calc(var(--headerSize) + 51px);
  text-align: center;
  margin-bottom: 24px;
  background-image: url("/assets/img/paper_background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}
main::before {
  content: "";
  display: block;
  position: relative;
  top: -116px;
  width: 100vw;
  height: 5px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
main section {
  margin: 0 14px 0 14px;
}
main section h2 {
  margin: 26px 0 15px 0;
}
main section p {
  display: inline-block;
  max-width: 1600px;
}
main section iframe {
  border: none;
  border-radius: 10px;
}
@media (max-width: 882px) {
  main section iframe#youtubeembed, main section iframe#youtubelatestembed {
    width: calc(100vw - 56px);
    height: calc((100vw - 56px) / 1.7777777778);
  }
}
@media (max-width: 628px) {
  main section iframe#spotifyembed {
    width: 100%;
  }
}
main section#socials .social {
  font-size: 45px;
  color: #000000;
  margin: 0 4px;
}

.lemarshall {
  font-family: "Le Marshall";
  font-size: 2.3rem;
  line-height: 1.2;
}

.cookie-plugin-modal {
  color: #000000;
}/*# sourceMappingURL=main.css.map */